{% extends 'base.html ' %}

{% block css%}
<link rel="stylesheet" type="text/css" href="/static/js/toastr/toastr.min.css">
{% endblock css%}

{% block javascript %}
<!--Form validation [ SAMPLE ]-->
<script src="/static/js/demo/form-validation.js"></script>
<script src="/static/js/toastr/toastr.js" type="text/javascript"></script>
{% endblock javascript %}


{% block content-container %}
<div id="page-title">
    <h1 class="page-header text-overflow">图书管理</h1>
</div>

<div id="page-content">

    <div class="row">
        <div class="col-xs-12">

            <div class="panel">
                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body demo-nifty-btn">
                    <div class="row">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            添加图书
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">添加图书</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel">
                                                    <form id="demo-bvd-notempty" action="" method="post"
                                                    class="form-horizontal">
                                                    <div class="panel-body">
                                                        <!--NOT EMPTY VALIDATOR-->
                                                        <!--===================================================-->
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">书名</label>
                                                            <div class="col-lg-4">
                                                                {{ bookForm.name }}
                                                            </div>
                                                        </div>

                                                        <hr>

                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">出版时间</label>

                                                            <div class="col-lg-4">
                                                                {{ bookForm.publisher_year }}
                                                            </div>
                                                        </div>

                                                        <hr>

                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">价格</label>

                                                            <div class="col-lg-4">
                                                                {{ bookForm.price }}
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">库存</label>

                                                            <div class="col-lg-4">
                                                                {{ bookForm.stocks }}
                                                            </div>
                                                        </div>


                                                        <hr>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">出版状态</label>

                                                            <div class="col-lg-4">
                                                                <div class='select'>{{ bookForm.status }}</div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">类型</label>

                                                            <div class="col-lg-4">
                                                                {{ bookForm.type }}
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">作者</label>

                                                            <div class="col-lg-4">
                                                                {{ bookForm.author }}
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="demo-text-input">出版社</label>

                                                            <div class="col-lg-4">
                                                                {{ bookForm.publisher }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                    </button>
                                    <button type="button" class="btn btn-primary" id='saveButton'>保存修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>图书名</th>
                                <th>作者</th>
                                <th>出版日期</th>
                                <th>类别</th>
                                <th class="text-center">出版状态</th>
                                <th class="text-center">库存数量</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in book_obj %}
                            <tr>
                                <td><a href="{% url 'detail' %}?bookId={{ book.info.id }}"
                                   class="btn-link">{{ book.name }}</a></td>
                                   <td>{% for book_author in book.author.all %} {{ book_author.name }}
                                    ,{% endfor %}</td>
                                    <td><span class="text-muted"><i
                                        class="fa fa-clock-o"></i>{{ book.publish_year }}</span></td>
                                        <td>{{ book.type }}</td>
                                        {% if book.status == True %}
                                        <td class="text-center">
                                            <div class="label label-table label-success">已出版</div>
                                        </td>
                                        {% else %}
                                        <td class="text-center">
                                            <div class="label label-table label-danger">未出版</div>
                                        </td>
                                        {% endif %}
                                        <td class="text-center">{{ book.stocks }}</td>
                                        <td class="text-center">
                                            {% if book.info %}
                                            <button class="btn btn-purple btn-rounded" data-toggle="modal"
                                            data-target="#details" type="button" id="details_id"
                                            disabled="disabled"
                                            onclick="Values({{ book.id }})">详情已完善
                                        </button>
                                        {% else %}
                                        <button class="btn btn-info btn-rounded" data-toggle="modal"
                                        data-target="#details" type="button" id="details_id"
                                        onclick="Values({{ book.id }})">请完善详情
                                    </button>
                                    {% endif %}

                                    <button class="btn btn-danger btn-rounded" data-toggle="modal"
                                    data-target="#bookdel" type="button"
                                    onclick="Values({{ book.id }})">删除
                                </button>

                                <a class="btn btn-warning btn-rounded"
                                href="{% url 'edit_book' book.id %}">编辑</a>
                            </td>
                        </tr>
                        <!-- 删除按钮的模态框-->
                        <div class="modal fade" id="bookdel" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h1 class="modal-title" id="myModalLabel">
                                    <h4>警告</h4>
                                </h1>
                            </div>
                            <div class="modal-body">
                                <h4 class="text-danger">是否删除?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    关闭
                                </button>
                                <button type="button" class="btn btn-danger" id="book_del">确认
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 添加图书详情模态框 -->
                <div class="modal fade" id="details" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">完善图书详情</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                            for="demo-text-input">章节</label>
                            <div class="col-md-9">
                                {{ details_form.chapter }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                            for="demo-text-input">页数</label>
                            <div class="col-md-9">
                                {{ details_form.pages }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                            for="demo-text-input">字数</label>
                            <div class="col-md-9">
                                {{ details_form.words }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                            for="demo-text-input">内容简介</label>
                            <div class="col-md-9">
                                {{ details_form.contentinfo }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                            for="demo-text-input">目录</label>
                            <div class="col-md-9">
                                {{ details_form.catalog }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                            for="demo-text-input">图书封面</label>
                            <div class="col-md-9">
                                {{ details_form.logo }}
                            </div>
                        </div>

                        <input type="hidden" value="" id="book_id" name="book_id">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" id="create_details"
                        value="">
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</tbody>
</table>
</div>
<hr>
<div class="pull-right">
    <ul class="pagination text-nowrap mar-no">
        {% if book_obj.has_previous == True %}
        <li class="page-pre">
            <a href="?pageNum={{ book_obj.previous_page_number }}">上一页</a>
        </li>
        {% else %}
        <li class="page-pre">
            <span>上一页</span>
        </li>
        {% endif %}
        {% for page in book_obj.paginator.page_range %}
        {% if page == book_obj.number %}
        <li class="page-number active">                
            <span>{{ page }}</span>
        </li>
        {% else %}
        <li class="page-number">
            <a href="?pageNum={{ page }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if book_obj.has_next == True %}
        <li class="page-next">
            <a href="?pageNum={{ book_obj.next_page_number }}">下一页</a>
        </li>
        {% else %}
        <li class="page-next">
            <span>下一页</span>
        </li>
        {% endif %}
    </ul>
</div>
</div>

</div>
</div>
</div>

</div>
<script>
$('#saveButton').click(function(){
    console.log('###################:add book');
    var input_dict = {'author':''};
    $('#demo-cs-multiselect').each(function(){
        var v = $(this).val();
        input_dict['author'] =v;
    });


    input_dict['name'] = $('#bookname').val();
    input_dict['publisher_year'] = $('#publisher_year').val();
    input_dict['price'] = $('#price').val();
    input_dict['stocks'] = $('#stocks').val();
    input_dict['status'] = $('#status').val();
    input_dict['type'] = $('#type').val();
    input_dict['publisher'] = $('#publisher').val();

    console.log('##############: status = '+input_dict['status']);
    $.ajax({
        url:'{% url "book" %}',
        type:'post',
        dataType:'json',
        data:input_dict,
        traditional:true,
        success:function(data){
            console.log('###################: sunccess'+data)
            if( data['status'] == 'success'){
                window.location.reload();
            }
        },
        error:function(err){
            console.log('###################: err'+err)  
        },
    })

});

$('#create_details').click(function(){
    var formData = new FormData();
    formData.append('chapter',$('#chapter').val());
    formData.append('pages',$('#pages').val());
    formData.append('words',$('#words').val());
    formData.append('contentinfo',$('#demo-textarea-input-1').val());
    formData.append('catalog',$('#demo-textarea-input-2').val());
    formData.append('logo',$('#file_logo')[0].files[0]);
    formData.append('book_id', $('#book_id').val());

    $.ajax({
        async :false,
        processData : false,
        cache:false,
        contentType:false,
        type:'post',
        url:'{% url "create_details" %}',
        dataType:'json',
        data : formData,
        success : function(data){
            console.log('############: create_details success'+data['data']);
            if( data['status'] == 'success'){
                window.location.reload();
            }else{
              Data = data['data'];
                        //  Data == {'price':  '必须要填写', 'stocks': '必须是一个数字'}
                        console.log(Data);
                        for (var key in Data) {
                            console.log(key);
                        }
                        // for i in {'price': '1', 'stocks': '2'}:
                        //       i = key
                        // toastr.error('失败');
                        toastr.warning(key + Data[key]);
                    }
                },
                error: function(err){
                    console.log('############: create_details failed');
                },
            });
});

$('#book_del').click(function(){
    var sendDict = {'book_id':''}
    sendDict['book_id'] = $('#book_id').val();
    $.ajax({
        type:'post',
        dataType:'json',
        url:'{% url "del_book" %}',
        data:sendDict,
        success:function(data){
            console.log('##############: 删除成功');
            if( data['status'] == 'success' ){
                window.location.reload();
                toastr.success(data['data']);
            }
        },
        error:function(err){
            console.log('##############: 删除失败');
        }
    });

});

function Values(Id){
    $('#book_id').val(Id);
}
</script>
{% endblock content-container %}
{% block mainnav %}
<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <!--================================-->


                    <ul id="mainnav-menu" class="list-group">
                        <!--Category name-->
                        <li class="list-header">图书管理系统</li>

                        <!--Menu list item-->
                        <li>
                            <a href='{% url 'index' %}'>
                                <i class="demo-psi-home"></i>
                                <span class="menu-title">
                                    <strong>首页</strong>
                                </span>
                            </a>
                        </li>
                        <!--Category name-->

                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                    <strong>图书管理</strong>
                                </span>
                                <i class="arrow"></i>
                            </a>

                            <!--Submenu-->
                            <ul class="collapse">
                                <li  class="active-link" ><a href="{% url 'book' %}">图书管理</a></li>
                                <li><a href="{% url 'author_manage' %}">作者管理</a></li>
                                <li><a href="#">出版社管理</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock mainnav %}

{% block footer %}
{% endblock footer %}
